{{- define "content" -}}

{{ if .Title }}
    <div class="content-margin">
        <h1>{{ .Title }}</h1>
    </div>
{{ end }}

{{ if and (eq .Section "posts") (not .Params.disable_pdf_download) }}
    <div class="content-margin">
        <p class="article-pdf-download no-print">
            <a
                href="{{ printf "pdf/%s.pdf" (.Params.slug | default .File.TranslationBaseName) | relURL }}"
                data-pdf-download
                data-pdf-slug="{{ .Params.slug | default .File.TranslationBaseName }}"
            >Download PDF</a>
        </p>
    </div>
{{ end }}

{{ if and (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") (.Store.Get "params").enable_toc }}
    {{ $toc_position := (.Store.Get "params").toc_position }}
    {{ if eq $toc_position "right" }}
        {{ partial "fixed-toc.html" (dict "context" . "position" $toc_position) }}
    {{ else if eq $toc_position "top" }}
        {{ $enable_collapsible_toc := (.Store.Get "params").enable_collapsible_toc }}
        {{ partial "collapsible-menu.html" (dict "type" "toc" "context" . "enable" $enable_collapsible_toc) }}
    {{ end }}
{{ end }}

{{ if .Content }}
    <div class="content-margin">
        {{- partial "content.html" (dict "ctx" . "content" .Content) -}}
    </div>
{{ end }}

{{- end -}}
